<div class="detailContainer">
    <div class="detailColumn">
        <h1> 교수설명 </h1>
        <%=@index.name%>
        <%=@index.major%>
        <%=@index.score%>
    </div>
    <div class="detailColumn">
        <h1> 해당교수가 진행하는 수업 <h1>
        <%@index.lessons.each do |item|%>
            <a href="/lesson/<%=item.id%>/detail">
                <p><%=item.title%></p>
            </a>
        <%end%>
    </div>
    <div class="detailColumn">
        <p><%=current_user.name%> 평가해주세용 </p>
        <h1> 댓글창, 평가항목1, 평가항목2, 평가항목3, 평가항목4 </h1>
    </div>
    <div class="detailColumn">
        <%=form_tag "/professor/#{@index.id}/create"%>
            <textarea name="content" placeholder="코맨트"></textarea>
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point1 min="50.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point2 min="50.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point3 min="50.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point4 min="50.0" max="99.9" />
            <input type="submit" value="주제넘지만 평가하기">
        </form> 
    </div>
</div>
