<div class="detailContainer">
    <div class="detailColumn">
        <h1> 수업설명 </h1>
        <%=@index.title%>
        <%=@index.professor.name%>
        <%=@index.separate_class%>
        <%=@index.separate_major%>
        <%=@index.separate_subject%>
        <%=@index.separate_subject_register%>
        <%=@index.campus%>
        <%=@index.grade_score%>
        <%=@index.grade_theory_score%>
        <%=@index.grade_exam_score%>
        <%=@index.timetable%>
        <%=@index.class_target%>
        <%=@index.score%>
        <%=link_to "#{@index.title} 수업의 과제", "/homework/lesson/#{@index.id}", method: :get%>
    </div>
    <div class="detailColumn">
        <p><%=current_user.name%> 평가해주세용 </p>
        <h1> 댓글창, 평가항목1, 평가항목2, 평가항목3, 평가항목4 </h1>
    </div>
    <div class="detailColumn">
        <%=form_tag "/lesson/#{@index.id}/create"%>
            <textarea name="content" placeholder="코맨트" require=true></textarea>
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point1 min="10.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point2 min="10.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point3 min="10.0" max="99.9" />
            <label class="rangeValue">50</label>
            <input class="slider" type=range name=point4 min="10.0" max="99.9" />
            <input type="submit" value="주제넘지만 평가하기">
        </form> 
    </div>
</div>
<script>
    var slider = document.getElementsByClassName("slider");
    var sliderLabel = document.getElementsByClassName("rangeValue");

    slider[0].addEventListener("click",function(){
        sliderLabel[0].textContent = slider[0].value;
    });
    slider[1].addEventListener("click",function(){
        sliderLabel[1].textContent = slider[1].value;
    });
    slider[2].addEventListener("click",function(){
        sliderLabel[2].textContent = slider[2].value;
    });
    slider[3].addEventListener("click",function(){
        sliderLabel[3].textContent = slider[3].value;
    });

</script>