<div class="detailContainer">
    <div class="detailColumn">
        <div class="column">
            <p><%=@index.title%></p>
            <p><%=truncate(strip_tags("#{@index.created_at}"), length: 14)%></p>
        </div>
        <div class="column">
            <%=image_tag "#{@index.image}"%>
        </div>
        <div class="column">
            <pre><%=@index.description%></pre>
        </div>
        <div class="column">
            <p>조회수 <%=@index.view%></p>
            <% if @index.user.id == current_user().id%>
                <%=link_to "글 삭제하기", "/homework/lesson/#{@index.id}/delete", method: :delete, data: {confirm: "해당 글을 삭제하시겠습니까?"}%>
            <%else%>
                <a style="display:none"></a>        
            <%end%>
        </div>
    </div>
    <div class="detailColumn">
        <div class="column">
            <p><%=current_user().name%></p>
            <%=form_tag "/homework/#{params[:id]}/create#comment", method: :post%>
                <textarea name="content" placeholder="내용을 입력하세요"></textarea>
                <input type="submit" value="댓글달기">
            </form>
        </div>
        <div style="display : none" class="column"></div>
        <div class="column">
            <%@comment.each do |item|%>
                <div class="commentColumn">
                    <p><%=item.user.name%></p>
                    <pre><%=item.description%></pre>
                    <div class="heartColumn">
                        <p><%=truncate(strip_tags("#{item.created_at}"), length: 14)%></p>
                        <% if item.user.id == current_user().id%>
                           <%=link_to "글 삭제하기", "/comment/#{item.id}/delete", method: :delete, data: {confirm: "Are you sure?"}%> 
                        <%end%>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>