<div class="homeworkContainer">
    <p id="notice"> 전 학기에 과제공유는 자동적으로 삭제됩니다 </p>
    <div class="homeworkColumn">
        <%@index.each do |item|%>
            <div class="myHomework">
                <div class="myHomeworkRow">
                    <a href="/homework/<%=item.id%>/detail">
                        <p><%=item.lesson.title%></p>
                        <p><%=item.lesson.professor.name%></p>
                        <p><%=truncate(strip_tags("#{item.created_at}"), length: 14)%></p>
                    </a>
                    <p id="view">조회수 <%=item.view%></p>
                    <pre><%=item.description%><pre>
                </div>
                <div class="myHomeworkRow">
                    <a href="/homework/<%=item.id%>/detail">
                        <i class="fas fa-book"></i>
                        <%if item.comments.empty?%>
                            <p> 댓글 0 </p>
                        <%else%>
                            <p>댓글 <%=item.comments.count%></p>
                        <%end%>
                    </a>
                </div>
            </div>
        <%end%>
    </div>
    <div class="homeworkColumn">
    </div>
</div>
