<div class="homeworkContainer">
    <p id="notice"> 전 학기에 과제공유는 자동적으로 삭제됩니다 </p>
    <!--연습-->
    <div class="homeworkSearchColumn">
        <input type="text" placeholder="과제공유할 수업을 검색하세요">
        <a style="border: 1px solid black; padding: 5px;" id="searchButton">검색</a>
        <ol div id="list" style="display: none">
            <li><a id="listDetail">너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
            <li><a>너무너무넝</a></li>
        </ol>
        <div style="display: none" id="search">
            <input type="hidden" name="lessonId" value="<%=params[:id]%>">
            <input type="text" name="title" placeholder="제목을 입력해주세요" required=true>
            <textarea name="description" placeholder="올바르지 않은 내용은 삭제될 수 있습니다." required=true></textarea>
            <input type="file" name="image">
            <input type="submit" value="글 쓰기">
        </div>
    </div>
    <!--연습-->
    <div class="homeworkColumn">
        <%@index.each do |item|%>
            <div class="myHomework">
                <div class="myHomeworkRow">
                    <a href="/homework/<%=item.id%>/detail">
                        <p><%=item.lesson.title%></p>
                        <p><%=item.lesson.professor.name%></p>
                        <p><%=truncate(strip_tags("#{item.created_at}"), length: 14)%></p>
                    </a>
                    <p id="view">조회수 <%=item.view%></p>
                    <pre><%=item.description%><pre>
                </div>
                <div class="myHomeworkRow">
                    <a href="/homework/<%=item.id%>/detail">
                        <i class="fas fa-book"></i>
                        <%if item.comments.empty?%>
                            <p> 댓글 0 </p>
                        <%else%>
                            <p>댓글 <%=item.comments.count%></p>
                        <%end%>
                    </a>
                </div>
            </div>
        <%end%>
    </div>
</div>
<script>
    var searchButton = document.getElementById("searchButton");
    var listDeatil = document.getElementById("listDetail");

    searchButton.addEventListener("click",function(e){
        list.style.display="block";
    });

    listDeatil.addEventListener("click",function(e){
        search.style.display="block";
    })
</script>
