<!DOCTYPE html>
<html>
  <head>
    <title>구문정보아라</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/35fb68f7ee.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <div class="headerColumn">
          <a href="/">
            <h3>경동대학교<h3>
            <h3>강의 평가 사이트<h3>
          </a>
        </div>
        <div class="headerColumn">
          <form action="/search">
            <h3>카테고리 추가하자</h3>
            <input type="text" name="search" placeholder="검색어를 입력하세요" required=true>
            <input type="submit" value="Enter">
          </form>
        </div>
        <div class="headerColumn">
          <div class="column">
            <i class="fas fa-book"></i>
            <%=link_to "강의 평가", "/lesson", id: :btn1%>
          </div>
          <div class="column">
            <i class="far fa-address-book"></i>
            <%=link_to "교수 평가", "/professor", id: :btn2%>
          </div>
          <div class="column">
            <i class="fas fa-sort-alpha-down"></i>
            <%=link_to "학점계산기", "/calculator", id: :btn3%>
          </div>
          <div class="column">
            <i class="fas fa-chalkboard-teacher"></i>
            <%=link_to "오픈채팅방", "/chat", id: :btn4%>
          </div>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </main>
    <div class="popUpButton"> <!--맨 밑에-->
      <i class="fas fa-chevron-up" id="popUpButton"></i>
    </div>
    <footer id="footer">
      <div class="footerContainer">
        <div class="footerColumn" id="footerPopup">
          <% if current_user() == nil%>
            <h1 id="current_user"> 로그인을 해주세요! <h1>
          <% else%>
            <div class="column">
              <h1 id="current_user"><%=current_user().name%></h1> 
            </div>
            <div class="column">
              <h1> 찜한 목록 </h1>
            </div>
          <% end%>
        </div>
        <div class="footerColumn">
          <p> 경동대학교 </p>
          <p> 강의평가 사이트 </p>
          <p> 개인정보 처리 방침 </p>
          <p> 이용약관 </p>
          <p> 고객문의 </p>
        </div>
      </div>
    </footer>
  </body>
  <script>
    var popUp = document.getElementById("popUpButton");
    var popUpColumn = document.getElementById("footerPopup");
    var footer = document.getElementById("footer");

    footer.style.height="100px";

    popUp.addEventListener("click",function(e){

      if(popUpColumn.style.display === "flex"){
        popUp.className="fas fa-chevron-up";
        footer.style.height="100px";
        popUpColumn.style.display = "none";
      }else{
        popUp.className="fas fa-chevron-down";
        footer.style.height="500px";
        popUpColumn.style.display="flex";
      }
    });
  </script>
</html>
